h1 {
    font-family: Verdana;
    font-size: 85.5px;
    background-color: rgb(249, 237, 182);
    color: salmon;
    padding: 15px;
    padding-left: 100px;

}
p.indent {
    text-indent: 30px;
}
body {
    background-color: antiquewhite;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
}
div.card {
    background-color: salmon;
}
a {
    color: black;
}
#myFooter {
    background-color: rgb(206, 210, 252);
    text-align: center;
    padding: 50px;
    font-weight: bold;   
}
.photo {
    margin: 10px;
    display: inline-block;
  }
.cart {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
  }