h1 {
    font-family: Verdana;
    background-color: blueviolet;
    color: rgb(255, 133, 253);
    padding: 15px;
    padding-left: 100px;

}
p.indent {
    text-indent: 30px;
    color: rgb(112, 0, 139);
}
body {
    background-color: rgb(249, 215, 250);
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
}
div.card {
    background-color: rgb(245, 152, 242);
}
a {
    color: rgb(250, 230, 99);
}
#myFooter {
    background-color: rgb(127, 138, 255);
    text-align: center;
    padding: 50px;
    font-weight: bold;   
}